.Page {
  @apply min-h-screen;
}

.PageBg {
  @apply fixed -z-10 top-0 left-0 bottom-0 right-0;
  &.PageBlue {
    @apply bg-fixed bg-cover bg-no-repeat;
    background-color: var(--background);
    background-image: image-set(
      url('/images/wp2-600h.webp') 1x,
      url('/images/wp2-800h.webp') 2x,
      url('/images/wp2.webp') 3x,
    );
    @media (min-width: 768px) {
      background-image: image-set(
        url('/images/wp1-600h.webp') 1x,
        url('/images/wp1-800h.webp') 2x,
        url('/images/wp1.webp') 3x,
      );
    }
  }
  &.FixedBg {
    opacity: 1 !important;
  }
}

.PageHeader {
  @apply flex flex-col items-center;
  @media (max-width: 1023px) {
    @apply fixed top-0 left-0 right-0 z-10 text-center;
    @apply transition-[background] duration-500 ease-linear;
  }
}

.PageNav {
  @apply flex w-full px-3 items-center max-h-[80px];
}

.PageMenuContainer {
  @apply flex-1 hidden lg:block;
}

.PageMenu {
  @apply hidden lg:flex justify-center gap-3 px-3 my-4;
}

.PageTitle {
  font-family: "Montserrat", sans-serif;
  @apply text-3xl text-center lg:mt-4 lg:mb-4;
  color: var(--headers);
  text-shadow: 1px 1px 1px var(--background);
  &.SmallTitle {
    @apply text-lg my-2;
    @media (max-width: 400px) {
      @apply text-base;
    }
  }
}

.Fab {
  @apply flex justify-center items-center w-14 h-14 rounded-full text-2xl;
  @apply transition-[background] duration-500 ease-linear;
  background-color: transparent;
  &.MenuFab {
    @apply lg:hidden;
  }
  &:hover {
    background-color: var(--link);
    i {
      color: var(--menuText);
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    }
  }
}

.AnimatedButton {
  padding: 0.75em 1.5em;
  margin: 2px;
  border-color: var(--item-color);
  border-bottom-style: solid;
  border-bottom-width: 2px;
  &:hover,
  &.active {
    background: transparent;
    background-image: linear-gradient(180deg, transparent 0%, var(--item-color) 100%);
    border-color: white;
    text-shadow: 1px 1px 1px black;
    span.item-label {
      color: white;
    }
  }
}

.PageBody {
  @apply flex flex-col justify-center items-center relative px-4 mt-24 lg:mt-0 pb-4;
}

.PageArticle {
  @apply shadow-xl ring-1 rounded-lg ring-gray-900/5 overflow-hidden;
  background-color: var(--article);
  @media (max-width: 960px) {
    .PageHeader + & {
      margin-top: 74px;
    }
  }
  section {
    @apply p-5 border-solid border-b-black/25;
    border-bottom-width: 1px;
    color: var(--text);
    &:last-child {
      @apply border-b-0;
    }
    h2 {
      @apply text-xl font-semibold mb-4;
      font-family: "Montserrat", sans-serif;
      color: var(--text);
      @media (max-width: 576px) {
        @apply text-center font-semibold mb-2;
      }
    }
    figure {
      @apply font-light mb-2;
      strong {
        @apply font-medium;
      }
      div > div:last-child {
        @apply text-right;
      }
      @media (max-width: 576px) {
        @apply text-center;
        div > div:last-child {
          @apply text-center;
        }
      }
    }
    .SectionItems {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px 10px;
      @media (max-width: 991px) {
        grid-template-columns: 1fr;
      }
      .SectionItem {
        min-height: 60px;
        overflow: hidden;
        color: var(--text);
        @media (max-width: 991px) {
          border-bottom: 1px solid rgba(0, 0, 0, 0.15);
          padding-bottom: 20px;
          &:last-child {
            padding-bottom: 0;
            border: 0;
          }
        }
        .SectionItem__Image {
          @apply float-left w-14 h-14 grid justify-center items-center bg-white rounded-sm relative;
          img {
            @apply max-w-[56px] max-h-[56px] rounded-sm;
          }
        }
        .SectionItem__Content {
          @apply ml-20;
          h3 {
            @apply text-base font-medium m-0;
            font-family: "Montserrat", sans-serif;
          }
          h4 {
            @apply text-sm font-light mb-1;
          }
          h5 {
            @apply text-sm font-light m-0;
          }
        }
      }
    }
  }
}

.MeDetails__Name {
  @apply w-6/12 sm:w-3/12 md:w-6/12 2xl:w-3/12 text-right md:text-right py-1 px-1.5 font-semibold;
}
.MeDetails__Value {
  @apply w-6/12 sm:w-3/12 md:w-6/12 2xl:w-3/12 text-left md:text-left py-1 px-1.5;
}
