.BlogDirectory {
  @apply flex flex-wrap w-full;
  .BlogPost {
    @apply basis-full md:basis-6/12 xl:basis-4/12 p-3;
    .BlogPost__Container {
      @apply flex overflow-hidden h-full shadow-lg ring-1 rounded-lg ring-gray-900/5;
      --tw-shadow-color: var(--shadowColor);
      --tw-shadow: var(--tw-shadow-colored);
      background-color: var(--article);
      transition: box-shadow 0.5s;
      &:hover {
        @apply shadow-xl;
        --tw-shadow-color: var(--shadowHover);
        --tw-shadow: var(--tw-shadow-colored);
      }
      .BlogPost__Image {
        @apply relative bg-clip-content bg-cover bg-center h-full text-white bg-gray-500/60;
        min-width: 128px;
        max-width: 30%;
      }
      @media (max-width: 430px) {
        @apply flex-col;
        .BlogPost__Image {
          @apply min-w-full max-w-full;
          height: 156px;
        }
      }
      &.Focus {
        @apply relative z-0;
        &::before {
          content: "";
          @apply absolute -left-1/2 -top-1/2 -z-20;
          width: 200%;
          height: 200%;
          background-color: var(--background);
          background-repeat: no-repeat;
          background-size: 51% 51%, 50% 50%;
          background-position: 0 0, 100% 0, 100% 100%, 0 100%;
          background-image: linear-gradient(var(--article), var(--article)), linear-gradient(var(--article), var(--link)),
            linear-gradient(var(--article), var(--article)), linear-gradient(var(--link), var(--article));
          animation: rotate 4s linear infinite;
        }
        &::after {
          content: "test";
          position: absolute;
          z-index: -1;
          left: 6px;
          top: 6px;
          width: calc(100% - 12px);
          height: calc(100% - 12px);
          background: var(--article);
          border-radius: 5px;
        }
      }
    }
  }
  @media (max-width: 767px) {
    @apply -m-3;
    .BlogPost {
      @apply p-1;
    }
  }
}

@keyframes rotate {
  25% {
    left: -50%;
    top: -200%;
    width: 200%;
    height: 500%;
    transform: rotate(0.25turn);
  }
  50% {
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    transform: rotate(0.5turn);
  }
  75% {
    left: -50%;
    top: -200%;
    width: 200%;
    height: 500%;
    transform: rotate(0.75turn);
  }
  100% {
    left: -50%;
    top: -50%;
    width: 200%;
    height: 200%;
    transform: rotate(1turn);
  }
}


.BlogArticle {
  .BlogContent {
    @apply mb-4;
    h1,
    h2,
    h3,
    h4 {
      @apply font-semibold mb-2 mt-4 relative;
      span {
        @apply absolute -top-20
      }
    }
    h1 {
      @apply text-4xl;
    }
    h2 {
      @apply text-2xl;
    }
    h3 {
      @apply text-lg;
    }
    h4 {
      @apply text-base;
    }
    p {
      @apply mb-3;
      code {
        @apply px-1 outline outline-1 rounded-sm bg-white/10;
      }
    }
    pre {
      @apply text-sm mb-4 p-4 bg-gray-800 rounded-lg overflow-x-auto;
    }
    .BlogFigure {
      @apply flex flex-col mb-6 mt-6;
      .BlogImage {
        @apply relative flex justify-center w-full mb-2 mx-auto aspect-video;
        max-width: 800px;
        @media (max-width: 767px) {
          img {
            object-fit: cover !important;
          }
        }
      }
      figcaption {
        @apply block text-white/70 text-sm text-center;
      }
    }
  }
}

.CodePenWrapper {
  @apply hidden lg:block;
}
.CodePenFallback {
  @apply block lg:hidden;
}
.CodePen {
  @apply hidden lg:block;
}