.IntroHeader {
  @apply fixed bg-transparent w-full;
}

.Me {
  @apply absolute inset-0 grid grid-cols-12 grid-rows-6;
  @apply bg-left-bottom bg-no-repeat bg-cover;
  > span {
    @apply transition-all duration-500 bg-none;
    @apply -left-36 sm:-left-12 md:left-0 #{!important};
		img {
      @apply object-left md:object-center #{!important};
		}
  }
  @media (max-width: 1024px) {
    span {
      &::after {
        content: "";
        @apply fixed z-0 left-0 right-0 bottom-0 h-[80vh];
        background-image: linear-gradient(transparent, rgba(var(--background), 0.8));
      }
    }
  }
}

.Intro {
  @apply col-start-6 col-span-6 row-start-2 row-span-3 2xl:col-start-5;
}

.IntroSubject {
  @apply mt-0 fixed bottom-12 left-0 right-0 z-10 text-center lg:relative lg:text-right lg:bottom-0;
  font-family: "Montserrat", sans-serif;
  text-shadow: 2px 2px rgb(var(--background)), 1px 1px 5px rgb(var(--background));
}

.IntroName {
  @apply text-3xl sm:text-5xl lg:text-5xl font-semibold tracking-widest;
}

.IntroTitle {
  @apply text-xl sm:text-3xl xl:text-4xl font-medium tracking-normal;
}
