.rating {
  .mdi {
    font-size: medium;
    color: var(--ratingOff);
    &.mdi-star {
      color: var(--ratingOn) !important;
    }
    &.mdi-star-half-full {
      color: var(--ratingOn) !important;
    }
  }
}
.mdi {
  color: var(--text);
}